/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #4b0000;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: fadeIn 2s ease-in;
}

/* Animación de desvanecimiento para el cuerpo */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos del contenedor principal */
div {
    max-width: 800px;
    margin: 30px;
    padding: 20px;
    background: #d4d7ed; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: scale(0.95);
    animation: scaleUp 0.5s ease-out;
}

/* Animación de escala para el contenedor */
@keyframes scaleUp {
    from {
        transform: scale(0.95);
        opacity: 0.8;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Estilo del título */
h3 {
    color: #2a0265; 
    font-size: 2rem;
    margin-bottom: 20px;
    display: inline-block; 
}

/* Animación de cambio de color para el título */
@keyframes colorChange {
    0% {
        color: #130350;
    }
    50% {
        color: #7d63e3;
    }
    100% {
        color: #006ebd;
    }
}

/* Estilo del párrafo */
p {
    font-size: 1.2rem;
}

/* Estilo del texto destacado */
strong {
    color: #075e28;
    font-size: 1.1rem;
}
